body {
    background-color: black;
    font-family: 'Lucida Bright';
    color: black;
    text-align: center;
    background-image: url('/img/VIS-Background2.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.modal{
    color:black;
}

.modal-backdrop{
    opacity:1 !important;
}

#boxes {
    content: "";
    display: table;
    clear: both;
}

.ncard {
    width: 700px;
    height: 600px;
    background: #162f1c;
    position: relative;
    display:inline-block;
    place-content: center;
    /*place-items: center;*/
    /*overflow: hidden;*/
    border-radius: 50px;
    justify-content: space-between;
    padding: 1em;
    padding: 70px;
    border: 5px solid white;
    padding-right: 40px;
    padding-left: 40px;
    margin: auto;
  }
  
  .ncard h1 {
    z-index: 1;
    color: white;
    font-size: 8em;
    text-align: center;
  }
  .ncard h2 {
    z-index: 1;
    color: white;
    font-size: 6em;
    text-align: left;
  } 
  

  /* .ncard::before {
    content: '';
    position: absolute;
    width: 150px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  } */
  
  /* @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  } */
  
  /* .ncard::after {
    content: '';
    position: absolute;
    background: #162f1c;
    inset: 5px;
    border-radius: 15px;
  } */
  
  /* .ncard:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
  
  